body {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  align-items: center;
}

.btn-container {
  display: flex;
  gap: 20px;
  padding: 20px;
  padding-bottom: 0px;
}

.btn {
  flex: 1 1 auto;
  width: max-content;
  font-size: 20px; 
  border-color: black; 
  border-radius: 10px; 
  background-color: white;
  padding: 10px;
}