@import url('https://fonts.googleapis.com/css2?family=Sixtyfour+Convergence&display=swap');

body {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  align-items: center;
}

.btn-container {
  display: flex;
  gap: 20px;
  padding: 20px;
  padding-bottom: 0px;
}

.btn {
  font-family: "Sixtyfour Convergence";
  font-size: 15px;
  flex: 1 1 auto;
  width: max-content;
  border-color: black; 
  border-radius: 10px; 
  background-color: white;
  padding: 10px;
}